SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost, 127.0.0.1
DB_NAME=
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_SSLMODE=disable

Email_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET==your-google-client-id-here.apps.googleusercontent.com
